.tableData {
  width: 1077px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 137.69%;
  /* or 18px */

  color: #474955;
  margin: 15px 0 0 78px;
}

thead {
  font-weight: 600;
  font-size: 14px;
  line-height: 137.69%;

  color: #ffffff;
  background: #474955;
  box-shadow: 0px 4px 27px rgba(230, 231, 234, 0.78);
}

thead > tr {
  height: 54px;
  vertical-align: middle;
}
.table {
  vertical-align: middle;
}

.table th {
  border-left-width: 0px;
  border-right-width: 0px;
}

.tableData img {
  margin-left: 15px;
  cursor: pointer;
}
.column-center {
  text-align: center;
}
